absl-py==1.2.0
accelerate==0.18.0
addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
astor==0.8.1
asttokens==2.0.8
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.1.0
audioread==3.0.0
babel==2.10.3
backcall==0.2.0
bce-python-sdk==0.8.74
blis==0.7.8
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
clip==1.0
colorama==0.4.6
colorlog==6.7.0
contextlib2==21.6.0
contourpy==1.0.5
cryptography==37.0.1
cssselect==1.1.0
cssutils==2.6.0
cycler==0.11.0
cymem==2.0.6
cython==0.29.32
dataclasses==0.6
datasets==2.0.0
debugpy==1.6.3
decorator==5.1.1
dgl==1.0.1
diffusers==0.12.1
dill==0.3.5.1
docker-pycreds==0.4.0
docopt==0.6.2
easydict==1.10
easyocr==1.6.2
einops==0.6.1
en-core-web-sm==3.0.0
entrypoints==0.4
et-xmlfile==1.1.0
execnet==1.9.0
executing==0.10.0
fairseq==0.10.1
filelock==3.8.0
fitlog==0.9.15
flask-babel==2.0.0
flask==2.2.2
fonttools==4.37.3
frozenlist==1.3.1
fsspec==2022.7.1
ftfy==6.1.1
future==0.18.2
gast==0.3.3
gensim==4.2.0
gitdb==4.0.9
gitpython==3.1.27
google-auth-oauthlib==0.4.6
google-auth==2.11.0
grpcio==1.47.0
huggingface-hub==0.13.4
hydra-core==1.3.2
hyperpyyaml==1.2.0
idna==3.3
imageio-ffmpeg==0.4.8
imageio==2.22.0
imgaug==0.4.0
importlib-metadata==4.12.0
importlib-resources==5.12.0
iniconfig==1.1.1
install==1.3.5
ipykernel==6.15.1
ipython==8.4.0
itsdangerous==2.1.2
jarowinkler==1.2.2
jedi==0.18.1
jiagu==0.2.3
jieba==0.42.1
jinja2==3.1.2
joblib==1.1.0
jsonlines==3.1.0
jupyter-client==7.3.5
jupyter-core==4.11.1
kiwisolver==1.4.4
langcodes==3.3.0
librosa==0.9.1
llvmlite==0.39.1
lmdb==1.3.0
loguru==0.6.0
lxml==4.9.1
markdown==3.4.1
markupsafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.6.0
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mmcv==1.6.1
mmdet==2.25.1
mock==4.0.3
moviepy==1.0.3
multidict==6.0.2
multiprocess==0.70.13
murmurhash==1.0.8
nest-asyncio==1.5.5
networkx==2.8.6
ninja==1.10.2.3
nltk==3.7
numba==0.56.4
numpy==1.23.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.0
omegaconf==2.3.0
opencv-contrib-python==4.6.0.66
opencv-python-headless==4.5.4.60
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==21.3
paddle-bfloat==0.1.7
paddleocr==2.6.0.1
paddlepaddle-gpu==2.3.2
paddlepaddle==2.3.2
pandas==1.4.2
parso==0.8.3
path.py==12.5.0
path==16.5.0
pathtools==0.1.2
pathy==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.2.0
pip==22.1.2
plac==1.1.3
platformdirs==3.2.0
pluggy==1.0.0
pooch==1.7.0
portalocker==2.7.0
premailer==3.10.0
preshed==3.0.7
proglog==0.1.10
progressbar==2.5
promise==2.3
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==9.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyclipper==1.3.0.post3
pycocotools==2.0.6
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.7.4
pygments==2.13.0
pyopenssl==22.0.0
pyparsing==3.0.9
pysocks==1.7.1
pytest-shutil==1.7.0
pytest==7.1.2
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
pytorch-crf==0.7.2
pytorch-lightning==1.2.5
pytorch-pretrained-vit==0.0.7
pytz==2022.2.1
pywavelets==1.4.1
pyyaml==6.0
pyzmq==23.2.1
rapidfuzz==2.10.1
regex==2022.8.17
requests-oauthlib==1.3.1
requests==2.28.1
resampy==0.4.2
responses==0.18.0
rouge-score==0.1.2
rouge==1.0.1
rsa==4.9
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.21
sacrebleu==2.3.1
sacremoses==0.0.53
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.8.1
sentencepiece==0.1.96
sentry-sdk==1.9.8
setproctitle==1.3.2
setuptools==63.4.1
shapely==1.8.4
shortuuid==1.0.9
simplediff==1.1
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
soundfile==0.12.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy==3.0.0
speechbrain==0.5.14
srsly==2.4.4
stack-data==0.4.0
synonyms==3.18.0
tabulate==0.8.10
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.9.1
tensorboardx==2.5.1
termcolor==2.0.1
terminaltables==3.1.10
text2vec==1.1.6
thinc==8.0.17
threadpoolctl==3.1.0
tifffile==2022.8.12
tokenizers==0.12.1
tomli==2.0.1
torch==1.11.0
torchaudio==0.11.0
torchcrf==1.1.0
torchmetrics==0.9.3
torchvision==0.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.25.1
typer==0.3.2
typing-extensions==4.3.0
urllib3==1.26.12
visualdl==2.4.1
wandb==0.14.1
wasabi==0.10.1
wcwidth==0.2.5
wenetruntime==1.13.0
werkzeug==2.2.2
wheel==0.37.1
xxhash==3.0.0
yapf==0.32.0
yarl==1.8.1
zipp==3.8.1